# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Angular
**/node_modules/
**/.angular/
**/dist/
**/coverage/

# Spring Boot / Maven
**/target/
**/.mvn/wrapper/maven-wrapper.jar

# Logs / temp
**/*.log
**/tmp/

# Env / secrets
**/.env
**/.env.*
