@import "bootstrap/dist/css/bootstrap.min.css";
@import "tailwindcss";

html,
body {
  margin: 0;
  min-height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #f4f6fa;
}
